body {
  padding: 0;
  background: #fff;
  color: #333;
  font: 16px;
  line-height: 1.5;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.bage {
  font-family: 'Fira Code', Menlo, monospace;

  position: absolute;
  top: 50%;
  left: 50%;

  width: 16rem;
  transform: translateX(-50%) translateY(-50%);
}

.bage a {
  color: #333;
  text-decoration: none;
}

.bage a:hover .profile {
  text-decoration: underline;
}

.bage::before {
  position: absolute;
  content: '$';

  margin-left: -1em;

  color: #999;
}
