*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (min-width: 800px) {
  main {
    max-width: 55rem;
    padding-bottom: 5rem;
  }

  blockquote,
  pre {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
  }

  p code {
    white-space: nowrap;
  }
}

main {
  padding-bottom: 5rem;
}

@media (max-width: 800px) {
  blockquote,
  pre {
    margin: 0;
    padding: 0.5rem 2rem;
  }
  main {
    padding: 0 0.5rem 2rem;
  }

  pre {
    width: 100%;
    overflow: scroll;
  }

  p code {
    white-space: normal;
    word-break: break-all;
  }
}

blockquote,
pre {
  background-color: #eee;
  border-radius: 3px;
  color: #666;
}

pre code {
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
}

p code {
  background-color: #eee;
  padding: 0.1em 0.3em;
  margin: 0 0.2em;
  border-radius: 4px;
}

blockquote {
  border-left: 2px solid;
}

a {
  color: #21a5a5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  flex-direction: row;

  margin-bottom: 1rem;
}

.user img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.contribute {
  color: #999;
}

.post-date {
  font-size: 10px;
  color: #666;
}
