<!DOCTYPE html>
<html>
    <head>
        <link href='http://git-scm.com/favicon.png' rel='shortcut icon' type='image/png'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{site.url}}/css/stylesheet.css" media="screen" />
        <link rel="stylesheet" href="{{site.url}}/css/pygment_trac.css" media="screen" />
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="http://feeds.feedburner.com/GitTips" />
    </head>
    <body>

    <div class="container">
      <section id="main_content">
      {{ content }}
      </section>
    </div>
    {% if site.production %}{% include metrika.md %}{% endif %}
    </body>
</html>
