---
layout: default
---

<h2 class="post-title translate">{{ page.title }}</h2>
<div class="post post_translate">{{ content }}</div>

<h3 class="origin">Оригинальная статья: <a href="{{page.origin.link}}">{{page.origin.title}}</a></h3>

<p class="contribute">Если вы заметили ошибку, вы всегда можете отредактировать <a href="https://github.com/gurugray/git-init.ru/edit/gh-pages/{{page.path}}">статью</a> и прислать pull-request. Или просто написать переводчику.</p>

<div class="users">
	{% include author.md author=page.author %}
	{% assign translator = site.data.translator %}

	{% if page.translator %}
		{% assign translator = page.translator %}
	{% endif %}

	{% include author.md author=translator %}
</div>
