<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <main id="main_content" {% if templateClass %} class="container {{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer></footer>
    <!-- Current page: {{ page.url | url }} -->
    {% include "metrika.md" %}
  </body>
</html>
