<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    {% set css %}
      {% include "css/index.css" %}
      {% if stylesheet %}{% include stylesheet %}{% endif %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    {% include "metrika.md" %}
  </body>
</html>
