---
layout: layouts/base.njk
templateClass: tmpl-post
---
<link rel="stylesheet" href="{{ '/css/post.css' | url }}">
<h1 class="post-title">{{ title }}</h1>
<div class="post">{{ content | safe }}</div>
