---
layout: layouts/base.njk
templateClass: tmpl-post
---
<link rel="stylesheet" href="{{ '/css/post.css' | url }}">
<h1 class="post-title translate">{{ title }}</h1>
<div class="post post_translate">{{ content | safe }}</div>
<p class="contribute">Если вы заметили ошибку, вы всегда можете отредактировать <a href="https://github.com/gurugray/git-init.ru/blob/main/posts/2014-02-08-git-is-simple.md">статью</a> и прислать pull-request. Или просто написать мне.</p>

<h3 class="origin">Оригинальная статья: <a href="{{origin.link}}">{{origin.title}}</a></h3>
<div class="user">
  <img class="userpic" src="{{author.avatar | url }}">
  <div class="meta">
  <a href="{{author.site | url}}">{{author.name}}</a><br>
  GitHub: <a href="https://github.com/{{author.github | url}}">{{author.github}}</a><br>
  Twitter: <a href="https://twitter.com/{{author.twitter | url}}">@{{author.twitter}}</a>
  </div>
</div>
